body {
  background: var(--tg-theme-secondary-bg-color, white);
  padding: 0;
  margin: 0;
}

/* Adjust Tabbar position on iOS for better home indicator spacing */
.tabbar-wrapper {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding-bottom: 8px;
  background: var(--tgui--secondary_bg_color);
}