body {
  background: var(--tg-theme-secondary-bg-color, white);
  padding: 0;
  margin: 0;
}

/* Adjust Tabbar position on iOS for better home indicator spacing */
.tabbar-wrapper > div {
  padding-bottom: 26px;
}