body {
  background: var(--tg-theme-secondary-bg-color, white);
  padding: 0;
  margin: 0;
}

/* Adjust Tabbar position on iOS for better home indicator spacing */
.tabbar-wrapper > div {
  padding-bottom: 26px;
}

@keyframes pulse {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.8);
  }
  to {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
}
